## golang
**/vendor/

## terminal/ide
.vscode/
ide/config/nvim/plugged/
ide/config/nvim/undodir/
.netrwhist
.nvimlog
.zcompdump

## python
__pycache__/
*.pyc

## certificates
**/certs/**/*.key
**/certs/**/*.crt

## provision
**/ansible/tmp
*.retry
**/.terraform*
*.tfstate*
**/docker/
**/ssh/

## compose overrides
**/docker-compose.override.yml
