## golang
**/vendor/

## ide
.vscode/

## python
__pycache__/
*.pyc

## certificates
**/certs/**/*.key
**/certs/**/*.crt

## provision
**/ansible/tmp
*.retry
**/.terraform
*.tfstate*
**/docker/
**/ssh/
