## golang
**/vendor/

## terminal/ide
.vscode/
ide/config/nvim/plugged/
ide/config/nvim/undodir/
ide/config/**/plugin/
.netrwhist
.nvimlog
.zcompdump*
.zcompcache

## python
__pycache__/
*.pyc

## certificates
**/certs/**/*.key
**/certs/**/*.crt

## provision
**/ansible/tmp
*.retry
**/.terraform*
*.tfstate*
**/docker/
**/ssh/
*.out

## ci/cd
gitea/**/log

## internal tools
.lowdefy

## compose overrides
**/docker-compose.override.yml
