[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "2.7"

[packages]
celery = {extras = ["redis", "rabbitmq"]}
influxdb = "==5.0.0"

[dev-packages]
ipython = "==5.6.0"
ipdb = "==0.11"
pytest = "==3.5.1"