---
services:
  git:
    image: "gitea/gitea:1.25.2"
    init: true
    hostname: git
    environment:
      APP_NAME: ${GIT_APP_NAME:-gitea}
      USER_UID: ${UID:-1000}
      USER_GID: ${GID:-1000}
      RUN_MODE: ${GIT_RUN_MODE:-prod}
      DOMAIN: ${GIT_DOMAIN:-localhost}
      SSH_DOMAIN: ${GIT_SSH_DOMAIN:-localhost}
      HTTP_PORT: ${GIT_HTTP_PORT:-3000}
      ROOT_URL: http://${GIT_DOMAIN:-localhost}:3000
      SSH_PORT: ${GIT_SSH_PORT:-222}
      SSH_LISTEN_PORT: ${GIT_SSH_LISTEN_PORT:-22}
      DB_TYPE: ${GIT_DB_TYPE:-sqlite3}
      DISABLE_REGISTRATION: ${GIT_DISABLE_REGISTRATION:-true}
    restart: unless-stopped
    volumes:
      - "git_data:/data"
    networks:
      - git_cicd_net
    ports:
      - "222:22"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

  # TODO: configure test report based on post:
  # https://medium.com/@boomimagestudio-techblog/goodbye-jenkins-how-drone-simplifies-ci-cd-for-engineering-teams-everywhere-73a7db435a86
  report_test:
    image: "frankescobar/allure-docker-service:2.21.0"

  ci:
    image: "woodpeckerci/woodpecker-server:v3.12.0"
    init: true
    hostname: ci
    environment:
      WOODPECKER_OPEN: true
      WOODPECKER_ADMIN: "${WOODPECKER_ADMIN:-admin}"
      WOODPECKER_HOST: "${WOODPECKER_HOST:-http://localhost:8000}"
      WOODPECKER_DOCKER_CONFIG: /opt/docker/config.json
      WOODPECKER_GITEA: true
      WOODPECKER_GITEA_URL: "http://git:3000"
      WOODPECKER_GITEA_CLIENT: "${WOODPECKER_GITEA_CLIENT:-}"
      WOODPECKER_GITEA_SECRET: "${WOODPECKER_GITEA_SECRET:-}"
      # NOTE: (jpd) generated with `openssl rand -hex 32`
      WOODPECKER_AGENT_SECRET: &ci_agent_secret "${WOODPECKER_AGENT_SECRET:-30ee418ab3ddd7c27835adcc9a5af4dc6a00d5fa6002a96eff49019e25cb3059}"
      WOODPECKER_DISABLE_USER_AGENT_REGISTRATION: true
      # NOTE: (jpd) generated with `openssl rand -base64 48`
      WOODPECKER_PROMETHEUS_AUTH_TOKEN: "${WOODPECKER_PROMETHEUS_AUTH_TOKEN:-VzbMSw7vgdHhQxg7v3ahP+5BilsoQ0ja/faSn4xEc+AOk1ee+y9RAJsA0xV1ADMJ}"
    restart: unless-stopped
    volumes:
      - "woodpecker_data:/var/lib/woodpecker/"
      - "woodpekcer_docker_config:/opt/docker"
    networks:
      - git_cicd_net
    healthcheck:
      test: ["CMD", "/bin/woodpecker-server", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

  ci_cli:
    image: "woodpeckerci/woodpecker-cli:v3.12.0"
    init: true
    environment:
      WOODPECKER_SERVER: &woodpecker_server "ci:9000"
      WOODPECKER_TOKEN: "${WOODPECKER_TOKEN:-}"
    restart: unless-stopped
    depends_on:
      - ci
    command: --help

  worker:
    image: "woodpeckerci/woodpecker-agent:v3.12.0"
    init: true
    hostname: ci_worker
    environment:
      WOODPECKER_SERVER: *woodpecker_server
      WOODPECKER_AGENT_SECRET: *ci_agent_secret
      WOODPECKER_BACKEND: docker
    command: agent
    restart: unless-stopped
    depends_on:
      - ci
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - git_cicd_net

  cron:
    image: "premoweb/chadburn:1.0.7"
    init: true
    hostname: cron
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./config/cron:/opt/chadburn"
    restart: unless-stopped
    networks:
      - git_cicd_net
    command: daemon --config=/opt/chadburn/config.ini

  # TODO (jpd): to start renovate we must change ownership of renovate_data to
  # ubuntu user
  renovate:
    image: "renovate/renovate:42.41.1-full"
    init: true
    hostname: renovate
    environment:
      GITHUB_COM_TOKEN: ${GITHUB_COM_TOKEN:-token}
      RENOVATE_TOKEN: ${RENOVATE_TOKEN:-token}
      RENOVATE_GIT_AUTHOR: ${RENOVATE_GIT_AUTHOR:-'renovate <renovate@example.com>'}
      RENOVATE_CONFIG_FILE: "/opt/renovate/config.js"
      RENOVATE_BASE_DIR: "/opt/renovate_data"
    labels:
      chadburn.enabled: "true"
      chadburn.job-exec.renovate.schedule: "@every 30m"
      chadburn.job-exec.renovate.command: "/usr/local/sbin/renovate"
    volumes:
      - "./config/renovate:/opt/renovate"
      - "renovate_data:/opt/renovate_data"
    restart: unless-stopped
    networks:
      - git_cicd_net
    entrypoint: sleep
    command: infinity

  # NOTE: (jpd) trying to use a slim version of renovate
  dependency_bot:
    image: "renovate/renovate:41.169.3"

  minio:
    image: "quay.io/minio/minio:RELEASE.2025-02-28T09-55-16Z"
    hostname: minio
    environment:
      MINIO_BROWSER_REDIRECT_URL: ${MINIO_BROWSER_REDIRECT_URL:-http://localhost}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-dubas}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-dubas}
      MINIO_SERVER_URL: ${MINIO_SERVER_URL:-http://localhost}
      MINIO_VOLUMES: /snsd_data
    volumes:
      - "minio_data:/data"
      - "minio_snsd_data:/snsd_data"
    restart: unless-stopped
    networks:
      - git_cicd_net
    command: 'server --console-address ":9001"'

  mc:
    image: "quay.io/minio/mc:RELEASE.2025-02-21T16-00-46Z"

volumes:
  git_data: {}
  # NOTE: (jpd) keeping old ci volume data for now
  ci_data: {}
  woodpecker_data: {}
  woodpekcer_docker_config: {}
  renovate_data: {}
  minio_data: {}
  minio_snsd_data: {}

networks:
  git_cicd_net:
    name: git_cicd_net
