---
services:
  git:
    image: "gitea/gitea:1.25.2"
    init: true
    hostname: git
    environment:
      APP_NAME: ${GIT_APP_NAME:-gitea}
      USER_UID: ${UID:-1000}
      USER_GID: ${GID:-1000}
      RUN_MODE: ${GIT_RUN_MODE:-prod}
      DOMAIN: ${GIT_DOMAIN:-localhost}
      SSH_DOMAIN: ${GIT_SSH_DOMAIN:-localhost}
      HTTP_PORT: ${GIT_HTTP_PORT:-3000}
      ROOT_URL: http://${GIT_DOMAIN:-localhost}:3000
      SSH_PORT: ${GIT_SSH_PORT:-222}
      SSH_LISTEN_PORT: ${GIT_SSH_LISTEN_PORT:-22}
      DB_TYPE: ${GIT_DB_TYPE:-sqlite3}
      DISABLE_REGISTRATION: ${GIT_DISABLE_REGISTRATION:-true}
    restart: unless-stopped
    volumes:
      - "git_data:/data"
    networks:
      - git_cicd_net
    ports:
      - "222:22"
  # TODO: configure test report based on post:
  # https://medium.com/@boomimagestudio-techblog/goodbye-jenkins-how-drone-simplifies-ci-cd-for-engineering-teams-everywhere-73a7db435a86
  report_test:
    image: "frankescobar/allure-docker-service:2.21.0"
  dependency_bot:
    image: "renovate/renovate:37.421.2-slim"
  ci:
    image: "drone/drone:2.26.0"
    init: true
    hostname: ci
    environment:
      DRONE_DATABASE_DATASOURCE: ${DRONE_DATABASE_DATASOURCE:-/data/database.sqlite}
      DRONE_DATABASE_DRIVER: ${DRONE_DATABASE_DRIVER:-sqlite3}
      DRONE_GITEA_CLIENT_ID: ${DRONE_GITEA_CLIENT_ID:-}
      DRONE_GITEA_CLIENT_SECRET: ${DRONE_GITEA_CLIENT_SECRET:-}
      DRONE_GITEA_SERVER: "http://git:3000"
      DRONE_GIT_ALWAYS_AUTH: ${DRONE_GIT_ALWAYS_AUTH:-false}
      DRONE_RPC_SECRET: &drone_rpc_secret ${DRONE_RPC_SECRET:-drone_secret}
      DRONE_SERVER_HOST: ${DRONE_SERVER_HOST:-localhost}:3000
      DRONE_SERVER_PROTO: ${DRONE_SERVER_PROTO:-http}
      DRONE_TLS_AUTOCERT: ${DRONE_TLS_AUTOCERT:-false}
      DRONE_TMATE_ENABLED: ${DRONE_TMATE_ENABLED:-true}
      DRONE_USER_CREATE: ${DRONE_USER_CREATE:-username:admin,machine:false,admin:true,token:drone_secret}
    restart: unless-stopped
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "ci_data:/data"
    networks:
      - git_cicd_net
  ci_cli:
    image: "drone/cli:1.9.0"
    init: true
    restart: unless-stopped
    entrypoint: sleep
    command: 3600d
  worker:
    image: "drone/drone-runner-docker:1.8.4"
    init: true
    hostname: ci_worker
    environment:
      DRONER_RUNNER_CAPACITY: ${WORKER_RUNNER_CAPACTIY:-2}
      DRONE_DEBUG: ${WORKER_DEBUG:-false}
      DRONE_RPC_HOST: ${WORKER_RPC_HOST:-ci}
      DRONE_RPC_PROTO: ${WORKER_RPC_PROTO:-http}
      DRONE_RPC_SECRET: *drone_rpc_secret
      DRONE_RUNNER_NAME: ${WORKER_RUNNER_NAME:-runner}
      DRONE_RUNNER_NETWORKS: git_cicd_net
      DRONE_TMATE_ENABLED: ${WORKER_TMATE_ENABLED:-true}
      DRONE_TRACE: ${WORKER_TRACE:-false}
    restart: unless-stopped
    depends_on:
      - ci
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - git_cicd_net
  cron:
    image: "premoweb/chadburn:1.0.7"
    init: true
    hostname: cron
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./config/cron:/opt/chadburn"
    restart: unless-stopped
    networks:
      - git_cicd_net
    command: daemon --config=/opt/chadburn/config.ini
  # TODO (jpd): to start renovate we must change ownership of renovate_data to
  # ubuntu user
  renovate:
    image: "renovate/renovate:42.41.1-full"
    init: true
    hostname: renovate
    environment:
      GITHUB_COM_TOKEN: ${GITHUB_COM_TOKEN:-token}
      RENOVATE_TOKEN: ${RENOVATE_TOKEN:-token}
      RENOVATE_GIT_AUTHOR: ${RENOVATE_GIT_AUTHOR:-'renovate <renovate@example.com>'}
      RENOVATE_CONFIG_FILE: "/opt/renovate/config.js"
      RENOVATE_BASE_DIR: "/opt/renovate_data"
    labels:
      chadburn.enabled: "true"
      chadburn.job-exec.renovate.schedule: "@every 30m"
      chadburn.job-exec.renovate.command: "/usr/local/sbin/renovate"
    volumes:
      - "./config/renovate:/opt/renovate"
      - "renovate_data:/opt/renovate_data"
    restart: unless-stopped
    networks:
      - git_cicd_net
    entrypoint: sleep
    command: infinity
  minio:
    image: "quay.io/minio/minio:RELEASE.2025-02-28T09-55-16Z"
    hostname: minio
    environment:
      MINIO_BROWSER_REDIRECT_URL: ${MINIO_BROWSER_REDIRECT_URL:-http://localhost}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-dubas}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-dubas}
      MINIO_SERVER_URL: ${MINIO_SERVER_URL:-http://localhost}
      MINIO_VOLUMES: /snsd_data
    volumes:
      - "minio_data:/data"
      - "minio_snsd_data:/snsd_data"
    restart: unless-stopped
    networks:
      - git_cicd_net
    command: 'server --console-address ":9001"'
  mc:
    image: "quay.io/minio/mc:RELEASE.2025-02-21T16-00-46Z"
  seaweedfs:
    image: &seaweedfs_image "chrislusf/seaweedfs:4.06_full"
    hostname: seaweedfs
    volumes:
      - "seaweedfs_data:/data"
      - "./config/seaweedfs/s3_config.json:/etc/seaweedfs/s3_config.json:ro"
    restart: unless-stopped
    networks:
      - git_cicd_net
    command: server -dir=/data -master -filer -s3 -s3.config=/etc/seaweedfs/s3_config.json -s3.allowEmptyFolder=false -volume -volume.max=0 -webdav

  seaweedfs-init:
    image: *seaweedfs_image
    hostname: seaweedfs-init
    depends_on:
      - seaweedfs
    volumes:
      - "./scripts/seaweedfs/create_buckets.sh:/usr/local/bin/create_buckets.sh:ro"
    networks:
      - git_cicd_net
    entrypoint: /bin/sh
    command: /usr/local/bin/create_buckets.sh

volumes:
  git_data: {}
  ci_data: {}
  renovate_data: {}
  minio_data: {}
  minio_snsd_data: {}
  seaweedfs_data: {}

networks:
  git_cicd_net:
    name: git_cicd_net
